/* 公共样式 start*/
* {
    padding: 0;
    margin: 0;
}

button,
input,
select,
a,
textarea {
    outline: none;
    resize: none;
}

.container {
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.nav {
    width: 1200px;
    height: 87px;
    margin: 0 auto;
}

.nav img {
    width: 157px;
    height: 58px;
    float: left;
    margin: 16px 0 0 9px;
}

.nav ul {
    width: 640px;
    height: 14px;
    float: left;
    list-style: none;
    margin: 38px 0 0 116px;
}

.nav li {
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    float: left;
    margin: 0 40px 0 0;
}

.nav li a {
    text-decoration: none;
    color: #626262;
}

.nav a:hover {
    color: #ff3c58;
}

.active a {
    color: #ff3c58 !important;
}

.nav button {
    width: 62px;
    height: 14px;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #626262;
    float: right;
    margin: 38px 12px 0 0;
    cursor: pointer;
}

.footer .bottom {
    width: 100%;
    height: 267px;
    background: #292929;
}

.bottom_con {
    width: 1200px;
    height: 267px;
    margin: 0 auto;
}

.bottom .ulist {
    width: 284px;
    height: 267px;
    position: relative;
    float: left;
}

.bottom ul {
    width: 65px;
    height: 175px;
    list-style: none;
    position: absolute;
    top: 55px;
    left: 0;
}

.bottom li {
    width: 65px;
    height: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #555555;
    cursor: pointer;
}

.bottom .info {
    width: 640px;
    height: 267px;
    float: left;
    position: relative;
}

.bottom .info1 {
    width: 534px;
    height: 200px;
    border-left: 2px solid #323232;
    border-right: 2px solid #323232;
    position: absolute;
    top: 30px;
    left: 39px;
    position: relative;
}

.bottom h3 {
    width: 160px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    top: 23px;
    left: 159px;
}

.bottom .info img {
    width: 160px;
    height: 35px;
    position: absolute;
    top: 58px;
    left: 159px;
    cursor: pointer;
}

.bottom .p18 {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    position: absolute;
    top: 116px;
    left: 159px;
}

.bottom input {
    width: 157px;
    height: 33px;
    border: none;
    padding: 0 10px;
    font-size: 12px;
    color: #131313;
    position: absolute;
    top: 145px;
    left: 159px;
    resize: none;
}

.footer .bottom button {
    width: 35px;
    height: 33px;
    border: none;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 146px;
    left: 336px;
    cursor: pointer;
}

.bottom .about {
    width: 276px;
    height: 267px;
    float: left;
    position: relative;
}

.bottom .logo2 {
    width: 160px;
    height: 60px;
    vertical-align: top;
    position: absolute;
    top: 130px;
    left: 118px;
}

.bottom .p19 {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #737373;
    position: absolute;
    top: 217px;
    right: 0;
}

/* 公共样式 end*/

.content {
    width: 1180px;
    height: auto;
    margin: 0 auto;
    padding: 0 10px 160px;
}

.content_title {
    width: 100%;
    height: 80px;
}

.content_title .p1 {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.content_title img {
    width: 14px;
    height: 14px;
    float: left;
    margin: 32px 0 0 10px;
}

.content_title .p2 {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 30px 0 0 10px;
    color: #ff5880;
    cursor: pointer;
}

.content .part1 {
    width: 100%;
    height: 410px;
    margin: 0 0 80px 0;
}

.content .part1 .part1_title {
    width: 100%;
    height: 24px;

}

.content .part1 .part1_title>p {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #626262;
}

.content .part1 .part1_con {
    width: 100%;
    height: 386px;
}

.content .part1 .part1_con .part1_conChild {
    width: 280px;
    height: 364px;
    float: left;
    margin: 22px 20px 0 0;
    position: relative;
    overflow: hidden;
}

.content .part1 .part1_con .part1_conChild:nth-child(4n) {
    margin: 22px 0 0 0;
}

.content .part1 .part1_con .part1_conChild>img {
    width: 280px;
    height: 364px;
    vertical-align: top;
}

.content .part1 .part1_con .part1_conChild .hover {
    width: 280px;
    height: 65px;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    position: absolute;
    top: 364px;
    transition: top .4s;
}

.content .part1 .part1_con .part1_conChild:hover .hover{
    top: 299px;
}

.content .part1 .part1_con .part1_conChild .hover>div {
    width: 80px;
    height: 65px;
    margin: 0 20px 0 0;
    float: left;
}

.content .part1 .part1_con .part1_conChild .hover>div:nth-child(3) {
    margin: 0 0 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .lef .name {
    height: 32px;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    float: left;
    margin: 0 0 0 18px;
}

.content .part1 .part1_con .part1_conChild .hover .lef>img {
    width: 19px;
    height: 16px;
    vertical-align: top;
    float: left;
    margin: 8px 0 0 18px;
}

.content .part1 .part1_con .part1_conChild .hover .lef .saw {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    float: left;
    margin: 10px 0 0 8px;
}

.content .part1 .part1_con .part1_conChild .hover .mid>img {
    width: 15px;
    height: 15px;
    float: left;
    margin: 40px 0 0 33px;
    cursor: pointer;
}

.content .part1 .part1_con .part1_conChild .hover .rig .author {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    float: left;
    margin: 0 18px 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .rig>img {
    width: 16px;
    height: 16px;
    float: left;
    margin: 8px 0 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .rig .date {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    float: left;
    margin: 10px 0 0 8px;
}

.content  .part2 {
    width: 100%;
    height: 796px;
    margin: 0 0 80px 0;
}

.content .part3 .part3_con {
    width: 100%;
    height: 386px;
}

.content .part3 .part3_con .part3_conChild {
    width: 580px;
    height: 364px;
    float: left;
    margin: 22px 20px 0 0;
    position: relative;
    overflow: hidden;
}

.content .part3 .part3_con .part3_conChild:nth-child(2) {
    margin: 22px 0 0 0;
}

.content .part3 .part3_con .part3_conChild>img {
    width: 580px;
    height: 364px;
    vertical-align: top;
}

.content .part3 .part3_con .part3_conChild .hover2 {
    width: 100%;
    height: 64px;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    position: absolute;
    top: 364px;
    transition: top .4s;
}

.content .part3 .part3_con .part3_conChild:hover .hover2 {
    top: 300px;
}

.content .part3 .part3_con .part3_conChild .hover2 .le {
    width: 280px;
    height: 64px;
    float: left;
}

.content .part3 .part3_con .part3_conChild .hover2 .ri {
    width: 280px;
    height: 64px;
    float: left;
    margin: 0 0 0 20px;
}

.content .part3 .part3_con .part3_conChild .hover2 .le .name {
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    color: #ffffff;
    float: left;
    margin: 20px 0 0 80px;
}

.content .part3 .part3_con .part3_conChild .hover2 .le .author {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    color: #ffffff;
    float: left;
    margin: 22px 0 0 17px;
}

.content .part3 .part3_con .part3_conChild .hover2 .ri .eye {
    width: 19px;
    height: 16px;
    float: left;
    margin: 34px 0 0 22px;
    vertical-align: top;
}

.content .part3 .part3_con .part3_conChild .hover2 .ri .saw {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #ffffff;
    float: left;
    margin: 37px 0 0 8px;
}

.content .part3 .part3_con .part3_conChild .hover2 .ri .time {
    width: 16px;
    height: 16px;
    float: left;
    margin: 34px 0 0 27px;
    vertical-align: top;
}

.content .part3 .part3_con .part3_conChild .hover2 .ri .date {
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    color: #ffffff;
    float: left;
    margin: 37px 0 0 8px;
}

.content .part3 .part3_con .part3_conChild .hover2 .ri .download {
    width: 15px;
    height: 15px;
    float: left;
    margin: 35px 0 0 23px;
    vertical-align: top;
    cursor: pointer;
}

.content .part4 {
    margin: 0 0 20px 0;
}

.content .upload {
    width: 100%;
    height: 42px;
}

.content .upload>p {
    height: 42px;
    font-size: 24px;
    line-height: 42px;
    color: #626262;
    float: left;
}

.content .upload>img {
    width: 100px;
    height: 42px;
    vertical-align: top;
    float: left;
    margin: 0 0 0 25px;
    cursor: pointer;
}