/* 公共样式 start*/
* {
    padding: 0;
    margin: 0;
}

button,
input,
select,
a,
textarea {
    outline: none;
    text-decoration: none;
}

.container {
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.nav {
    width: 1200px;
    height: 87px;
    margin: 0 auto;
}

.nav img {
    width: 157px;
    height: 58px;
    float: left;
    margin: 16px 0 0 9px;
}

.nav ul {
    width: 640px;
    height: 14px;
    float: left;
    list-style: none;
    margin: 38px 0 0 116px;
}

.nav li {
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    float: left;
    margin: 0 40px 0 0;
}

.nav li a {
    text-decoration: none;
    color: #626262;
}

.nav a:hover {
    color: #ff3c58;
}

.active a {
    color: #ff3c58 !important;
}

.nav button {
    width: 62px;
    height: 14px;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #626262;
    float: right;
    margin: 38px 12px 0 0;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/* .banner .aaa {
    position: absolute;
    top: 355px;
    left: 280px;
    width: 374px;
    height: 112px;
}

.banner .p1 {
    width: 315px;
    height: 72px;
    font-size: 72px;
    float: left;
    margin: 0 0 0 30px;
    line-height: 72px;
    color: #ff345f;
}

.banner .p2 {
    width: 374px;
    height: 51px;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    float: left;
    font-size: 24px;
    line-height: 51px;
    color: #ffffff;
    text-align: center;
} */

.footer .bottom {
    width: 100%;
    height: 267px;
    background: #292929;
}

.bottom_con {
    width: 1200px;
    height: 267px;
    margin: 0 auto;
}

.bottom .ulist {
    width: 284px;
    height: 267px;
    position: relative;
    float: left;
}

.bottom ul {
    width: 65px;
    height: 175px;
    list-style: none;
    position: absolute;
    top: 55px;
    left: 0;
}

.bottom li {
    width: 65px;
    height: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #555555;
    cursor: pointer;
}

.bottom .info {
    width: 640px;
    height: 267px;
    float: left;
    position: relative;
}

.bottom .info1 {
    width: 534px;
    height: 200px;
    border-left: 2px solid #323232;
    border-right: 2px solid #323232;
    position: absolute;
    top: 30px;
    left: 39px;
    position: relative;
}

.bottom h3 {
    width: 160px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    top: 23px;
    left: 159px;
}

.bottom .info img {
    width: 160px;
    height: 35px;
    position: absolute;
    top: 58px;
    left: 159px;
    cursor: pointer;
}

.bottom .p18 {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    position: absolute;
    top: 116px;
    left: 159px;
}

.bottom input {
    width: 157px;
    height: 33px;
    border: none;
    padding: 0 10px;
    font-size: 12px;
    color: #131313;
    position: absolute;
    top: 145px;
    left: 159px;
    resize: none;
}

.footer .bottom button {
    width: 35px;
    height: 33px;
    border: none;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 146px;
    left: 336px;
    cursor: pointer;
}

.bottom .about {
    width: 276px;
    height: 267px;
    float: left;
    position: relative;
}

.bottom .logo2 {
    width: 160px;
    height: 60px;
    vertical-align: top;
    position: absolute;
    top: 130px;
    left: 118px;
}

.bottom .p19 {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #737373;
    position: absolute;
    top: 217px;
    right: 0;
}

/* 公共样式 end*/

.content {
    width: 1180px;
    height: auto;
    padding: 80px 10px 160px 10px;
    margin: 0 auto;
}

.content .part {
    width: 100%;
    height: 495px;
    margin: 0 0 60px 0;
}

.content .part:nth-of-type(3) {
    margin: 0 0 0 0;
}

.content .part>img {
    width: 880px;
    height: 495px;
    vertical-align: top;
    float: left;
}

.content .part .text {
    width: 280px;
    height: 455px;
    background: #313131;
    float: left;
    padding: 40px 0 0 20px;
}

.content .part .text .address {
    font-size: 24px;
    line-height: 36px;
    color: #807f7f;
}

.content .part .text .address>span:nth-child(1) {
    color: #faf8f8;
}

.content .part .text .contact_info {
    font-size: 14px;
    line-height: 36px;
    margin: 20px 0 0 0;
    color: #fdfcfb;
}

.content .part .text .contact_info>span:nth-of-type(2n) {
    color: #565555 !important; 
}

.content .bottom_part {
    width: 100%;
    height: 150px;
}

.content .bottom_part .left_part {
    width: 590px;
    height: 150px;
    float: left;
}

.content .bottom_part .left_part>p {
    font-size: 24px;
    line-height: 36px;
    color: #0d0d0d;
    margin: 10px 0 0 0;
}

.content .bottom_part .right_part {
    width: 222px;
    height: 150px;
    float: left;
    margin: 0 0 0 180px;
}

.content .bottom_part .right_part .row {
    width: 100%;
    height: 26px;
    float: left;
    cursor: pointer;
}
.content .bottom_part .right_part .row1 {
    margin: 20px 0 12px 0;
}

.content .bottom_part .right_part .row1>img {
    width: 26px;
    height: 26px;
    float: left;
}

.content .bottom_part .right_part .row2>img {
    width: 20px;
    height: 26px;
    float: left;
}

.content .bottom_part .right_part .row>p {
    font-size: 24px;
    height: 26px;
    line-height: 26px;
    color: #ff2e64;
    float: left;
    margin: 0 0 0 4px;
}