/* 公共样式 start*/
* {
    padding: 0;
    margin: 0;
}

button,
input,
select,
a,
textarea {
    outline: none;
    text-decoration: none;
}

.container {
    width: 100%;
    min-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.nav {
    width: 1200px;
    height: 87px;
    margin: 0 auto;
}

.nav img {
    width: 157px;
    height: 58px;
    float: left;
    margin: 16px 0 0 9px;
}

.nav ul {
    width: 640px;
    height: 14px;
    float: left;
    list-style: none;
    margin: 38px 0 0 116px;
}

.nav li {
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    float: left;
    margin: 0 40px 0 0;
}

.nav li a {
    text-decoration: none;
    color: #626262;
}

.nav a:hover {
    color: #ff3c58;
}

.active a {
    color: #ff3c58 !important;
}

.nav button {
    width: 62px;
    height: 14px;
    background: transparent;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #626262;
    float: right;
    margin: 38px 12px 0 0;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: auto;
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/* .banner .aaa {
    position: absolute;
    top: 355px;
    left: 280px;
    width: 374px;
    height: 112px;
}

.banner .p1 {
    width: 315px;
    height: 72px;
    font-size: 72px;
    float: left;
    margin: 0 0 0 30px;
    line-height: 72px;
    color: #ff345f;
}

.banner .p2 {
    width: 374px;
    height: 51px;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    float: left;
    font-size: 24px;
    line-height: 51px;
    color: #ffffff;
    text-align: center;
} */

.footer .bottom {
    width: 100%;
    height: 267px;
    background: #292929;
}

.bottom_con {
    width: 1200px;
    height: 267px;
    margin: 0 auto;
}

.bottom .ulist {
    width: 284px;
    height: 267px;
    position: relative;
    float: left;
}

.bottom ul {
    width: 65px;
    height: 175px;
    list-style: none;
    position: absolute;
    top: 55px;
    left: 0;
}

.bottom li {
    width: 65px;
    height: 35px;
    font-size: 16px;
    line-height: 16px;
    color: #555555;
    cursor: pointer;
}

.bottom .info {
    width: 640px;
    height: 267px;
    float: left;
    position: relative;
}

.bottom .info1 {
    width: 534px;
    height: 200px;
    border-left: 2px solid #323232;
    border-right: 2px solid #323232;
    position: absolute;
    top: 30px;
    left: 39px;
    position: relative;
}

.bottom h3 {
    width: 160px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    position: absolute;
    top: 23px;
    left: 159px;
}

.bottom .info img {
    width: 160px;
    height: 35px;
    position: absolute;
    top: 58px;
    left: 159px;
    cursor: pointer;
}

.bottom .p18 {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    position: absolute;
    top: 116px;
    left: 159px;
}

.bottom input {
    width: 157px;
    height: 33px;
    border: none;
    padding: 0 10px;
    font-size: 12px;
    color: #131313;
    position: absolute;
    top: 145px;
    left: 159px;
    resize: none;
}

.footer .bottom button {
    width: 35px;
    height: 33px;
    border: none;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    font-size: 16px;
    color: #ffffff;
    position: absolute;
    top: 146px;
    left: 336px;
    cursor: pointer;
}

.bottom .about {
    width: 276px;
    height: 267px;
    float: left;
    position: relative;
}

.bottom .logo2 {
    width: 160px;
    height: 60px;
    vertical-align: top;
    position: absolute;
    top: 130px;
    left: 118px;
}

.bottom .p19 {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #737373;
    position: absolute;
    top: 217px;
    right: 0;
}

/* 公共样式 end*/
.content {
    width: 1180px;
    height: auto;
    margin: 0 auto;
    padding: 80px 10px 160px 10px;
}

.content_title .p1 {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 30px 0 0 0;
    cursor: pointer;
}

.content_title img {
    width: 14px;
    height: 14px;
    float: left;
    margin: 32px 0 0 10px;
}

.content_title .p2 {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 30px 0 0 10px;
    color: #ff5880;
    cursor: pointer;
}

.content  .part1 {
    width: 100%;
    height: 796px;
    margin: 0 0 80px 0;
}

.content .part1 .part1_title {
    width: 100%;
    height: 24px;

}

.content .part1 .part1_title>p {
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #626262;
}

.content .part1 .part1_con {
    width: 100%;
    height: 386px;
}

.content .part1 .part1_con .part1_conChild {
    width: 280px;
    height: 364px;
    float: left;
    margin: 22px 20px 0 0;
    position: relative;
    overflow: hidden;
}

.content .part1 .part1_con .part1_conChild:nth-child(4n) {
    margin: 22px 0 0 0;
}

.content .part1 .part1_con .part1_conChild>img {
    width: 280px;
    height: 364px;
    vertical-align: top;
}

.content .part1 .part1_con .part1_conChild .hover {
    width: 280px;
    height: 429px;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    position: absolute;
    top: 299px;
    transition: top .6s;
}

.content .part1 .part1_con .part1_conChild:hover .hover{
    top: -65px;
    opacity: 0.9;
}

.content .part1 .part1_con .part1_conChild:hover .descrip {
    display: none;
}

.content .part1 .part1_con .part1_conChild .hover .descrip {
    width: 80px;
    height: 65px;
    margin: 0 20px 0 0;
    float: left;
}

.content .part1 .part1_con .part1_conChild .hover>div:nth-child(3) {
    margin: 0 0 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .lef .name {
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    float: left;
    margin: 0 0 0 18px;
}

.content .part1 .part1_con .part1_conChild .hover .lef>img {
    width: 19px;
    height: 16px;
    vertical-align: top;
    float: left;
    margin: 8px 0 0 18px;
}

.content .part1 .part1_con .part1_conChild .hover .lef .saw {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    float: left;
    margin: 10px 0 0 8px;
}

.content .part1 .part1_con .part1_conChild .hover .mid>img {
    width: 15px;
    height: 15px;
    float: left;
    margin: 40px 0 0 33px;
    cursor: pointer;
}

.content .part1 .part1_con .part1_conChild .hover .rig .author {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    float: left;
    margin: 0 18px 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .rig>img {
    width: 16px;
    height: 16px;
    float: left;
    margin: 8px 0 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .rig .date {
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    float: left;
    margin: 10px 0 0 8px;
}

.content .part1 .part1_con .part1_conChild .hover .descrip_title {
    width: 100%;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    float: left;
    margin: 115px 0 0 0;
}

.content .part1 .part1_con .part1_conChild .hover .descrip_con {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    float: left;
    margin: 20px 0 0 28px;
    
}

.content .part2 {
    width: 100%;
    height: 1100px;
}

.content .part2 .part2_title {
    width: 100%;
    height: 44px;
    font-size: 24px;
    line-height: 44px;
    color: #3e3e3e;
}

.content .part2 .video {
    width: 100%;
    height: 616px;
    position: relative;
}

.content .part2 .video .bottom {
    width: 880px;
    height: 616px;
    float: left;
    cursor: pointer;
}

.content .part2 .video>img {
    width: 880px;
    height: 616px;
}

.content .part2 .video .top {
    width: 280px;
    height: 364px;
    background: linear-gradient(to right, #ff2e64, #ff5c3b);
    opacity: 0.9;
    position: absolute;
    top: 175px;
    left: 800px;
}

.content .part2 .video .top .top_heading {
    height: 24px;
    font-size: 24px;
    color: #ffffff;
    float: left;
    margin: 50px 0 0 68px;
}

.content .part2 .video .top .top_con {
    font-size: 14px;
    line-height: 20px;
    float: left;
    margin: 20px 0 0 28px;
    color: #ffffff;
}

.content .part2 .recommend {
    width: 1110px;
    height: 360px;
    margin: 80px 0 0 0;
    position: relative;
}

.content .part2 .recommend>img {
    width: 1110px;
    height: 360px;
    vertical-align: top;
}

.content .part2 .recommend>.title {
    width: 480px;
    height: 60px;
    border: 1px solid #ffffff;
    font-size: 30px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 95px;
    right: 100px;
}

.content .part2 .recommend>h1 {
    height: 60px;
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
    position: absolute;
    top: 205px;
    left: 550px;
}

.content .part2 .recommend>a>.click_me {
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #ff2e64;
    position: absolute;
    top: 225px;
    right: 90px;
    cursor: pointer;
}